.FormContainer {

    width: 100%;
    margin-bottom: 100px;
    margin-top: 20px;
    display: flex;
    justify-content: center;



    form {

        h3 {
            font-weight: 400;
            font-family: inherit;
        }

        display: flex;
        align-items: center;
        flex-direction: column;
        width: 420px;
        gap: 10px;
        border: 1px solid rgb(183, 182, 182);
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgb(0 0 0 / 10%),
        0 8px 16px rgb(0 0 0 / 10%);

        input {
            border-radius: 6px;
            font-size: 17px;
            padding: 14px 16px;
            width: 330px;
            border: 1px solid rgba(33, 33, 33, 0.419);

        }

        button {
            background-color: #1877f2;
            border: none;
            border-radius: 6px;
            font-size: 20px;
            line-height: 48px;
            padding: 0 16px;
            width: 366px;
            font-family: inherit;
            color: white;
            font-weight: 700;
        }

        .forgot-div {
            width: 68%;
            display: flex;
            gap: 0px;
            justify-content: space-evenly;

            a {
                text-decoration: none;
                color: #1877f2;


            }

            a:hover {
                text-decoration: underline;
            }
        }
    }
}